html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.description{
    margin-bottom: 16px;
}

.description ul{
    margin-top: 8px;
    list-style-position: inside;
}

.description p{
    text-align: justify;
}

.category-description p{
    text-align: center;
}

.detail-image{
    position: relative;
    width: 100%;
    height: 300px;
}
